header{
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    .background{
        background-image: url("../../images/background.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: -1;
        filter: brightness(.5);
    }
}

main{
    position: relative;
    &:before{
        content:"";
        position: absolute; 
        z-index: -2;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../../images/body-bg2.jpg");
        background-repeat: repeat-y;
        background-size: 100% 120vh;
        background-position: left top;
        filter: brightness(.5);
    }
    section{
        padding: 3rem 5rem;
        min-height: 100vh;
        position: relative;
        background: black;
        &:not(:last-child){
            margin-bottom: 18rem;
        }
        .background{
            position: absolute;
            top:0;
            z-index: -1;
            filter: brightness(.5);
        }
        &#biography{
            .biography-content{
                width: 100%;
                .biography-bg{
                    width: 40%;
                    height: 300px;
                    &1{
                        background: url("../../images/biographie.jpg") center no-repeat;
                        background-size: cover;
                        float: right;
                        margin: 0 0 2rem 2rem; 
                    }
                    &2{
                        background: url("../../images//biographie2.jpg") center no-repeat;
                        background-size: cover;
                        float: left;
                        padding: 1rem 0 1rem;
                        margin: 0 2rem 2rem 0; 
                    }
                }
            }
        }
        &#personnality{
            background: unset;
            .background{
                background: url("../../images/personnalite.jpg") 50%/ cover border-box padding-box;
                width: 150%;
                height: 100%;
                transform: rotateY(180deg);
                right:-50%;
            }
            .personnality-content{
                max-width: 50%;
            }
        } 
        &#skills{
            h2{
                text-align: center;
            }
            p{
                text-align: center;
                max-width: 50%;
                margin: 1rem auto;  
            }
            iframe{
                margin: 1.5rem auto;
                display: block; 
            }
        }
    }
}
