svg{
    &.arrows{
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 40px;
        path {
            stroke: rgba($color: #FFF, $alpha: .7);
            fill: transparent;
            stroke-width: 3px;	
            animation: arrow 2s infinite;
            -webkit-animation: arrow 2s infinite; 
        }
        path.a1 {
            animation-delay:-1s;
            -webkit-animation-delay:-1s;
        }
        path.a2 {
            animation-delay:-0.5s;
            -webkit-animation-delay:-0.5s;
        }
        path.a3 {	
            animation-delay:0s;
            -webkit-animation-delay:0s; 
        }
    }
}
@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}