nav{
    position: fixed;
    z-index: 50;
    top:0;
    width: 100%;
    border-bottom: 2px solid white;
    padding: 1.5rem 0;
    background-color: black; 
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li{
            &:not(:last-child){
                margin-bottom: .75rem;
            }
            a{
                position: relative;
                font-weight: bold;
                text-transform: uppercase;
                &:after{
                    content:"";
                    display: block;
                    background-color: #DB0400;
                    height: 2px;
                    width: 10px;
                    position: absolute;
                    bottom: -7px;
                    left: 0;
                    transition: width .25s ease-in-out;
                }
                &:hover, &.active, &:focus{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
        @media screen and (min-width: 586px) {
            flex-direction: row;
            li{
                &:not(:last-child){
                    margin: 0 .5rem 0 0;
                }
            }
        }
        @media screen and (min-width: 768px) {            
            li{
                &:not(:last-child){
                    margin: 0 1rem 0 0;
                }
            }
        }
        @media screen and (min-width: 1024px) {
            li{
                &:not(:last-child){
                    margin: 0 2rem 0 0;
                }
            }
        }
    }
}