*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    @media screen and (min-width: 768px){
        font-size: 15px;
    }
    @media screen and (min-width: 1024px){
        font-size: 16px;
    }
    background-color: black;
    overflow-x: hidden;
    position: relative;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding:0;
    margin:0;
}

h1,h2,h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

h1{
    font-size: 5em;
}
h2{
    font-size: 3.5em;
    margin:0;
}
h3{
    font-size: 3em;
}

p,span, li,a{
    font-family: "Open Sans","Helvetica";
    font-size: 1em;
}

p{
    letter-spacing: 1.1;
    line-height: 1.2;
    text-align: justify;
    &.content{
        line-height: 1.8;
    }
}

.white{
    color: white;
}

.red {
    color: #DB0400;
}
