@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-black;
        @apply relative
    }
    h2 {
        @apply text-red-500;
        @apply text-4xl
    }
    section{
        /* @apply bg-black; */
    }
    p{
        @apply text-white;
    }
    .bg {
        z-index: -1;
        @apply absolute;
        @apply bg-center;
        @apply opacity-30;
        @apply bg-cover;
        @apply bg-no-repeat;
    }
}

@layer utilities {
    .arrows{
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: 40px;
    }

    .arrows path{
        stroke: rgba(255,255,255,.7);
        fill: transparent;
        stroke-width: 2px;	
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
    }
    .arrows path.a1 {
        animation-delay:-1s;
        -webkit-animation-delay:-1s;
    }
    .arrows path.a2 {
        animation-delay:-0.5s;
        -webkit-animation-delay:-0.5s;
    }
    .arrows path.a3 {	
        animation-delay:0s;
        -webkit-animation-delay:0s; 
    }
    @keyframes arrow
    {
        0% {opacity:0}
        40% {opacity:1}
        80% {opacity:0}
        100% {opacity:0}
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/
    {
        0% {opacity:0}
        40% {opacity:1}
        80% {opacity:0}
        100% {opacity:0}
    }
}