<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/favicon_io/favicon.ico" type="image/x-icon">
    <title>Samus - Metroid</title>
</head>
<body>
    <div class="stars"></div>
    <header>
        <nav>
            <ul>
                <li><a class="white" href="#biography">Biographie</a></li>
                <li><a class="white" href="#personnality">Personnalité</a></li>
                <li><a class="white" href="#skills">Aptitudes et compétences</a></li>
            </ul>
        </nav>
        <div class="background"></div>
        <svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </header>
    <main>
        <section id="biography">
            <h2 class="red">Biographie</h2>
            <div class="biography-content">
                <div class="biography-bg biography-bg1"></div>
                <p class="content white">Elle est la fille unique de Rodney et Virginia Aran, membres de la Fédération Galactique. Un jour, les pirates de l'espace attaquent la colonie, et leur nouvelle recrue, Ridley, tue les parents de Samus sous ses yeux. Elle est alors recueillie par les Chozos, des hommes à tête d'oiseau, et grandit sur la planète Zebes. Ensuite, elle dut quitter les lieux suite à l'invasion pirate.</p>
                <p class="content white">Durant sa jeunesse, elle intégra la Fédération Galactique, sous les ordres du commandant Adam Malkovich, à qui elle tint tête, attitude bornée qu'elle attribuera plus tard à une erreur de jeunesse. Ce qui ne l'empêchera pas de quitter la Fédération pour devenir une chasseuse de primes indépendante.</p>
                <p class="content white">C'est alors qu'elle se voit remettre des Chozos sa combinaison de puissance, munie d'un canon à énergie, déterminée et prête à en découdre avec ses ennemis.</p>
                <p class="content white">Elle effectue alors sa première mission sur Zèbes pour le compte de la Fédération, éradiquant les Pirates de l'Espace de Zèbes, les Zébéens, leurs généraux, les Metroïdes et leur chef Mother Brain. La base explose et elle en réchappe de justesse. Seulement, une flotte de Pirates de l'espace compromet sa fuite en abatant son vaisseau. Endommageant sa combinaison de puissance, elle se retrouve alors sur Zèbes et tente d'échapper au vaisseau-mère des Pirates. Lorsqu'elle retrouve sa combinaison, elle infiltre et détruit le vaisseau-mère puis s'échappe dans un chasseur volé.</p>
                <p class="content white">Peu de temps après, elle est envoyée sur la Frégate Orphéon après avoir reçu un message de détresse des pirates de l'espace avec pour mission d'en découvrir l'origine. Le vaisseau a été infecté par une souche de parasites originaires de Tallon IV suite à un incident. La frégate s'autodétruit et bien que Samus ait rejoint son vaisseau, elle s'écrase sur Tallon en découvrant des ruines Chozo.</p>
                <p class="content white">Le vaisseau a été infecté par une souche de parasites originaires de Tallon IV suite à un incident. La frégate s'autodétruit et bien que Samus ait rejoint son vaisseau, elle s'écrase sur Tallon en découvrant des ruines Chozo. Durant l'autoréparation du vaisseau, elle explore la planète et découvre le triste sort des Chozo vivant sur la planète ainsi qu'une substance mutagène : le Phazon, ayant modifié l'écosystème de la planète. </p>
                <div class="biography-bg biography-bg2"></div>
                <p class="content white">Pour venger les Chozo, elle se rend au cratère d'impact du Léviathan afin d'éliminer le Métroïde qui semble être la source du Phazon. Ce dernier vaincu, elle dérobe sa combinaison de Phazon ainsi qu'une partie de son matériel génétique, éliminant au passage une section de pirates ayant établi une base de recherches sur le Phazon dans l'espoir de créer des supers soldats.</p>
                <p class="content white">Sa mission suivante fut de découvrir l'origine d'un message indiquant que "le pouvoir ultime se situe dans le Cluster Alimbic" et de, s'il s'avère que ce message est réel, sécuriser le pouvoir en question. Elle y rencontre six autres chasseurs de primes étant à la recherche dudit pouvoir. Ce message était finalement un piège tendu par une entité mystérieuse nommée Goréa, dans l'espoir de se libérer des oubliettes. Samus détruisit l'entité sans rien savoir de ce mystérieux pouvoir.</p>
                <p class="content white">Samus fut par la suite envoyée sur Ether, sur ordre de la Fédération, pour enquêter sur un groupe de Marines portés disparus, cependant la mission prit une autre tournure lorsqu'elle apprit l'extermination du groupe par les Splinters et que les soldats morts se relevèrent pour lui faire face, elle trouve ensuite une civilisation avancée, appelée Luminoth, en guerre contre les Ing, des créatures de la dimension Ether Sombre, guerre qui fut très couteuse pour les luminoth qui finirent presque exterminés, ils demandent donc a Samus de poursuivre la guerre à leur place ce qu'elle fit, elle découvrit au passage une mystérieuse entité répondant au nom de Samus Sombre, qui l'affronta à plusieurs reprises. La dimension sombre fut détruite par Samus au terme d'un affrontement avec l'Empereur Ing et Samus Sombre qui fut laissée pour morte.</p>
                <p class="content white">Cependant Samus Sombre réussi par des moyens inconnus a se reconstruire dans le monde de lumière et a prendre le contrôle de ce qu'il restait des Pirates de l'Espace, elle finit par lancer un assaut contre le V.F.G. Valhalla avec les pirates et dérobe l'unité Aurora 313.</p>
            </div>
        </section>
        <section id="personnality">
            <div class="background"></div>
            <h2 class="red">Personnalité</h2>
            <div class="personnality-content">
                <p class="content white">La personnalité de Samus n'a jamais été approfondie dans les jeux, une décision de Nintendo pour laisser au joueur la liberté de l'imaginer. Cependant, Metroid Fusion, Metroid Prime 3: Corruption et Metroid: Other M donnent un aperçu de la personnalité de Samus, ainsi que d'autres médias tels que la bande dessinée et le manga.</p>
                <p class="content white">Typiquement, Samus est dépeinte comme une héroïne mélancolique qui, en dépit de ses grandes réalisations, reste incroyablement solitaire et sombre, cherchant à se venger des pirates de l'espace, en particulier Ridley, qui est personnellement responsable de la mort de ses parents. Samus est inspirée par le personnage Ripley de la série Alien. Cependant, contrairement à Ripley, Samus n'est jamais montrée comme étant traumatisée par les Métroides qu'elle affronte durant ses diverses missions. </p>
                <p class="content white">Elle était cependant pétrifiée par la peur lorsqu'elle a rencontré Ridley dans le manga, dans lequel il est considéré qu'elle souffre d'un syndrome de stress post-traumatique. Cette affliction refait surface quand elle découvre Ridley dans Metroid: Other M, au point qu'elle pouvait à peine communiquer; et ne pouvait reprendre son sang-froid jusqu'à ce que Anthony Higgs soit abattu en essayant de la défendre. Cette représentation, ainsi que d'autres facettes de sa personnalité aperçues dans Other M, ont été vivement critiqués par les fans car ils l'ont découvert comme étant plus faible psychologiquement, plus instable et peureuse que dans les jeux précédents. Un personnage qui est donc à l'opposé de l'image générale que la plupart des fans ont de Samus ont retenu de ses apparitions précédentes et des brèves indications sur ses pensées et son passé.</p>
                <p class="content white">Cependant, au moment des événements de Metroid Fusion, ces caractéristiques "faibles" ne sont plus présents, ce qui suggère qu'elle a depuis surmonté les faiblesses qu'elle affiche dans le jeu précédent, et qu'ils étaient simplement le résultat de la dépression après la mort du bébé Métroide.</p>
                <p class="content white">Dans les autres médias (sous licence), la personnalité de Samus est en grande partie définie par l'écrivain. En conséquence, sa personnalité a varié considérablement entre les principales publications. Le manga, par exemple, de 2002 la dépeint comme souffrante de traumatismes de l'enfance et souvent pensant à son rôle et le rôle des Pirates.</p>
            </div>
        </section>
        <section id="skills">
            <h2 class="red">Aptitudes et compétences</h2>
            <p class="content white">Samus est une chasseuse de primes très puissante et compétente avec un physique athlétique , un grande agilité et divers autre pouvoirs issue de son armure Chozo comme les missiles , la morph ball , rayon glaciale....</p>
            <iframe src="https://www.youtube.com/embed/fI-PfGxALL0?controls=0&rel=0" width="1200" height="600"></iframe>
        </section>
    </main>
    <script src="./bundle.js"></script>
</body>
</html>